@import url('https://fonts.googleapis.com/css?family=Coda|Share+Tech+Mono|VT323');

html {
  background-color: #fff;
}

body {
  font-family: 'Coda', cursive;
  color: #0089ff;
  margin-top: 150px;
  text-shadow: 0px 0px 3px #0089ff;
}

html.access {
  filter: invert(1) hue-rotate(90deg);
  background-color: #000;
}

html.access body {
  font-family: 'VT323', monospace;
}

@keyframes to_foreground {
  from {   
    filter: blur(5px);
    transform: perspective(500px) translateZ(-1000px)
  }
  to {
    filter: blur(0px);
    transform: perspective(500px) translateZ(0);
  }
}

@keyframes to_background {
  from {   
    filter: blur(0px);  
    transform: perspective(500px) translateZ(0);
  }
  to {
    filter: blur(5px);
    transform: perspective(500px) translateZ(-1000px);
  }
}

h1, h2, h3 {
  font-family: 'Share Tech Mono', cursive;
  text-transform: uppercase;
}

html.access h1, html.access h2, html.access h3 {
  font-family: 'VT323', monospace;
} 

h1 {
  background-color: rgba(255,255,255,0.90);
  text-align: center;
  border-bottom: 1px dashed #0089ff;
  padding: 20px;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.technology, .goals, .information {
  display: inline-block;
  max-width: 450px;

  padding: 20px;
  vertical-align: top;
}

html.access .technology, html.access .information {
  animation-name: to_background;
  animation-duration: 5000ms;
  animation-fill-mode: both;
}

.goals {
  animation-name: to_background;
  animation-duration: 1ms;
  animation-fill-mode: both;
  position: fixed;
  top: 100px;
}

html.access .goals {
  animation-name: to_foreground;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.1, 0.3, 0.7, 0.1);
}

.technology h3 {
  border-bottom: 1px solid rgba(0, 137, 255, 0.5);
  padding-bottom: 1rem;
}

.background {
  position: fixed;
  z-index: -20;
  filter: blur(3px);
}

.background.bottom {
  bottom:0px;
  right: 0px;
}

button {
  border: 1px solid rgba(0, 137, 255, 0.5);
  border-radius: 4px;
  background: transparent;
  padding: 10px;
  color: #0089ff;
  cursor: pointer;
  text-shadow: 0px 0px 2px #0089ff;
}

button:hover, button:active {
  background-color: #0089ff;
  color: white;
}

input {
  color: #0089ff;
  border: 1px solid rgba(0, 137, 255, 0.5);
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  text-shadow: 0px 0px 1px #0089ff;
}
input::placeholder {
  color: #0089ff;
  opacity: 0.5;
}

#login {
  border: 1px solid #0089ff;
  border-radius: 5px;
  padding: 30px;
  max-width: 550px;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 10px;
  position: fixed;
  left: calc(50% - 200px);
  z-index: 100;
  background-color: rgba(255,255,255,0.90);
  box-shadow: 0px 0px 5px 0px #0089ff;
}

#login_button {
  float:  right;
}

.equation {
  display: grid;
  grid-template-columns: [left-start] 5em [left-end right-start] 10rem [right-end];
  grid-template-rows: auto auto;
  max-width: 500px;
  color: #333;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-shadow: none;
  font-weight: 400;
  font-style: italic;
  grid-column-gap: 1rem;
}

.equation input {
  color: #333;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-shadow: none;
  font-weight: 400;
  font-style: italic; 
  background: transparent;
  border: none;
  padding: 0;
  border-bottom: 1px solid #333;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0px;
}

.equation .left {
  grid-column: left;
  grid-row: 1 / span 2;
  text-align: right;
  line-height: 4rem;
}

.equation .right {
  grid-column: right;
  text-align: center;
}
